<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">

<script  src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>


<h2 class="header" style="margin-left: 35%;">All Orders</h2>


<section class="container pt-3" style="overflow: scroll;">
    <table class="table table-striped" id="productTable">
        <thead class="thead-dark">
            <tr>
                <th>Sl No</th>
                <th>Items</th>
                <th>Total Amount</th>
                <th>contact</th>
                <th>Delivery Address</th>
                <th>Order status</th>
                <th>Response</th>
            </tr>
        </thead>
        <tbody>

            {{#each order}}
            <tr>
                <td>
                    <h3 class="nr" style="width: 10%;"> </h3>
                </td>
                <td>
                    <table>
                        <th>Item</th>
                        <th>Qty</th>
                        {{#each itemDetails}}
                        <tr>
                            <td>{{product.name}}</td>
                            <td>{{quantity}}</td>
                        </tr>
                        {{/each}}
                    </table>
                </td>
                <td>{{getTotalAmount}}</td>
                <td>{{name}}<br>{{newmobile}}</td>
                <td>
                    <b> {{deliveryDetails.address}}, {{deliveryDetails.village}} Village,near
                        {{deliveryDetails.landmark}}
                        ,{{deliveryDetails.number}} </b>
                    <br>
                    <i> {{date}} </i>
                </td>
                <td>
                    <b>{{status}}</b>
                    <br>
                    <i> {{paymentMethod}} </i>

                </td>
                <td>
                    {{#if Packing}}
                    <h6 class="disabled" style="font-weight: 900;">Packing</h6> 
                    <button onclick="toShipping('{{this._id}}')" class="btn btn-warning mt-2 ">Shipped</button> <br>
                    <button onclick="toDelivery('{{this._id}}')" class="btn btn-success mt-2 ">Delivered</button>
                    {{/if}}
                    {{#if Shipped}}
                    
                    <button onclick="toPack('{{this._id}}')" class="btn btn-info mt-2 ">Packing</button>
                    <h6 class="mt-3 disabled" style="font-weight: 900;">Shipped</h6>
                    <button onclick="toDelivery('{{this._id}}')" class="btn btn-success mt-2 ">Delivered</button> <br>

                    {{/if}}
                    {{#if Delivered}}
                    <button onclick="toPack('{{this._id}}')" class="btn btn-info mt-2 ">Packing</button>
                    <button onclick="toShipping('{{this._id}}')" class="btn btn-warning mt-2 ">Shipped</button> <br>
                    <h6 class="mt-3 disabled" style="font-weight: 900;">Delivered</h6>
                     
                    {{/if}}
                </td>
            </tr>
            {{else}}

            <h1>No order found</h1>

            {{/each}}
        </tbody>
    </table>


</section>
<style>
    .btn{
        width: 80px;
    }
    .disabled{
        cursor: not-allowed;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        $('#productTable').DataTable();
    });


    var a = document.getElementsByClassName("nr");
    for (var i = 0; i < a.length; i++) {
        a[i].innerHTML = "#" + (i + 1);
    }

function toShipping(proId) {
   $.ajax({
        url: '/admin/toShipped/' + proId,
        method: 'get',
        success: (response) => {
                location.reload();
                //$(".addtocart-button").html("Added"); 
            
            
        }
    })
    
}
function toDelivery(proId) {
   $.ajax({
        url: '/admin/toDelivered/' + proId,
        method: 'get',
        success: (response) => {
                location.reload();
                //$(".addtocart-button").html("Added"); 
            
            
        }
    })
    
}
function toPack(proId) {
   $.ajax({
        url: '/admin/toPacking/' + proId,
        method: 'get',
        success: (response) => {
                location.reload();
                //$(".addtocart-button").html("Added"); 
            
            
        }
    })
    
}
</script>