<section>
    <div class="container">
        <div style="overflow-x:auto;">

            <table class="table mt-5" style="background: white;border-radius:10px;">
                <thead>
                    <tr class=" table-sm" style="background: white;border-radius:10px;">
                        <th style="width: 20px;"></th>
                        <th scope="col">Item</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <!--th></th-->

                    </tr>
                </thead>
                <tbody>

                    {{#each products}}

                    <tr>
                      
                        <td><img style="width: 50px;height:50px" src="/product-images/{{this.product._id}}.jpg" alt="{{this.product.name}}"></td>
                        <td>{{this.product.name}}</td>
                        

                        <td>Rs: {{this.product.price}}</td>

                        <td  style="min-width: 114px;">
                            <button class="cart-item-count mr-2 minus" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',-1)">-</button>
                               <span id="{{this.product._id}}"> {{this.quantity}} </span>
                            <button class="cart-item-count ml-2 plus" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',1)"> +</button>
                        </td>


                        <!--td>
                            <a href="" class="btn btn-sm btn-outline-danger"> Remove </a>

                        </td-->
                        
                    </tr>
                    {{/each}}
                <tr class="table total" style="color: rgb(53, 31, 49);background:rgb(255, 255, 255);">
                    <td colspan="2" class="text-right" style="font-family: 'Fugaz One', cursive;">Total  </td>
                    <td class="text-left" style="font-family: 'Fugaz One', cursive;">Amount:</td>
                    <td> <b > Rs : </b><span id="total" style="font-weight: 800;font-size:18px;">{{total}}</span> </td>

                </tr>
                  <a href="/place-order" class="btn btn-outline-secondary float-right mt-4 mb-4 pl-5 pr-5" > <b> Checkout </b></a>
                


                </tbody>
                
            </table>
        </div>
                  

    </div>

</section>
