<div id="right_body">
  <div class="container">
    <div class="row">
      {{#each products}}

      <div class="item" style="width: 10rem;height:20rem;">
        <a href="#" style="text-decoration: none;"> <img style="width: 90%;height:60%;" src="/product-images/{{this._id}}.jpg" class="card-img-top"
            alt="...">
          <div class="item-details">
            <p class="item-name"> <span style="    font-family: 'Noto Sans', sans-serif;color:black;">{{this.name}} <br> Rs: </span><span
                id="price" class="price"
                style="color: green;font-family: 'Space Grotesk', sans-serif;">{{this.price}}/-</span></p>
          </div>
        </a>
        <!--div class="cart_btn">
          <button type="button"  onclick="decrement()"  data-sku="490155015" class="qtybtn qty_add qty_minus ">-</button>
          <span class="qty_count"><input id="demoInput" min="0.5" max="10" step="0.5" style="width: 6rem;" type="number" placeholder="quantity"></span>
          <button type="button" onclick="increment()" data-sku="490155015" data-max="4" class="qtybtn qty_add qty_plus ">+</button>
        </div-->

        <!--a class="btn btn-warning addtocart-button mt-3" style="padding: 2px 1px;font-size:12px;" href="/add-to-cart/{{this._id}}"> Add to Cart</a-->
        <button onclick="addToCart('{{this._id}}')" class="btn btn-warning addtocart-button mt-3" style="padding: 2px 1px;font-size:12px;" > Add to cart </button>
      </div>
      {{/each}}
    </div>
  </div>
</div>
