<!--div id="right_body">
  <div class="container">
    <div class="row">
      {{#each products}}

      <div class="item" style="width: 10rem;height:20rem;">
        <a href="#" style="text-decoration: none;"> 
          <img style="width: 90%;height:60%;" src="/product-images/{{this._id}}.jpg" class="card-img-top" alt="...">
          <div class="item-details">
            <p class="item-name"> <span style="    font-family: 'Noto Sans', sans-serif;color:black;">{{this.name}} 
              <br> Mrp: {{this.mrp}}
             <span class="mrp"></span><br>
             Rs: </span> 
             <span id="price" class="price"
                style="color: green;font-family: 'Space Grotesk', sans-serif;">{{this.price}}/-</span></p>
          </div>
        </a>
        <!--div class="cart_btn">
          <button type="button"  onclick="decrement()"  data-sku="490155015" class="qtybtn qty_add qty_minus ">-</button>
          <span class="qty_count"><input id="demoInput" min="0.5" max="10" step="0.5" style="width: 6rem;" type="number" placeholder="quantity"></span>
          <button type="button" onclick="increment()" data-sku="490155015" data-max="4" class="qtybtn qty_add qty_plus ">+</button>
        </div-->

<!--a class="btn btn-warning addtocart-button mt-3" style="padding: 2px 1px;font-size:12px;" href="/add-to-cart/{{this._id}}"> Add to Cart</a-->
<!--button onclick="addToCart('{{this._id}}')" class="btn btn-warning addtocart-button mt-3" style="padding: 2px 1px;font-size:12px;" > Add to cart </button>
      </div>
      {{/each}}
    </div>
  </div>
</div-->


<div class="slide-container">

  <div class="wrapper " id="glasscont">
    {{#each products}}
    
    <div class="clash-card glass barbarian">
      <div class="clash-card__image clash-card__image--barbarian">
        <img style="width: 90%;height:90%;" src="/product-images/{{this._id}}.jpg" alt="..." />
      </div>

      <div class="clash-card__unit-name two">{{this.name}} </div>
      
      <DIV ID="SectionName" class="three" STYLE="display:block;color:rgb(85, 84, 84);">{{this.description}}</DIV>



      <div class="four clash-card__unit-description" style="color: rgb(0, 0, 0)">
        <span id="price" class="price" style="color: rgb(34, 44, 20);font-family: 'Space Grotesk', sans-serif;">Our Price :
          {{this.price}}/-</span>
        <br>
        Mrp: <span style="text-decoration: line-through;color:rgb(39, 25, 25);"> {{this.mrp}} </span>
      </div>
      <!--a class="btn btn-warning addtocart-button mt-3" style="padding: 2px 1px;font-size:12px;margin-bottom:5px;"
        href="/add-to-cart/{{this._id}}"> Add to Cart</a-->
      <button onclick="addToCart('{{this._id}}')" id="cartbtn" class="six btn addtocart-button mt-3"
        style="padding: 2px 1px;font-size:12px;margin-bottom:5px;"> Add to cart </button>

    </div> 


    {{/each}}
  </div> <!-- end wrapper -->

</div> <!-- end container -->








<style>
  @import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);


  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }


  .slide-container {
    margin: auto;
    text-align: center;
  }

  .wrapper {
    padding-top: 40px;
    padding-bottom: 40px;


    &:focus {
      outline: 0;
    }
  }



  .clash-card {
    background: #ffffff;
    width: 165px;
    display: inline-block;
    margin: auto;
    text-align: center;
    box-shadow: 4px 11px 26px -19px #0426e6;
    z-index: 9999;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 8px;

    font-size: 14px;
  }

  .clash-card__image {
    position: relative;
    height: 120px;
    border-top-left-radius: $border-radius-size;
    border-top-right-radius: $border-radius-size;
  }

  .clash-card__image--barbarian {
    img {
      width: 200px;
      position: absolute;
      top: -65px;
      left: -70px;
    }
  }

  }

  .clash-card__level {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 3px;
  }

  .clash-card__level--barbarian {
    color: $barbarian;
  }

  .clash-card__unit-name {
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-weight: 900;
  }


  .clash-card__unit-stats--barbarian {
    background: $barbarian;

    .one-third {
      border-right: 1px solid #ff8c00;
    }
  }


  .clash-card__unit-stats {

    color: white;
    font-weight: 700;
    border-bottom-left-radius: $border-radius-size;
    border-bottom-right-radius: $border-radius-size;

    .one-third {
      width: 33%;
      float: left;
      padding: 20px 15px;
    }

    sup {
      position: absolute;
      bottom: 4px;
      font-size: 45%;
      margin-left: 2px;
    }

    .stat {
      position: relative;
      font-size: 24px;
      margin-bottom: 10px;
    }

    .stat-value {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 12px;
    }

    .no-border {
      border-right: none;
    }
  }

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  .slick-prev {
    left: 100px;
    z-index: 999;
  }

  .slick-next {
    right: 100px;
    z-index: 999;
  }
  .addtocart-button{
  background: #264B77;
  color: rgb(255, 255, 255);
  }
  .addtocart-button:hover{
    background: rgb(202, 8, 228);
  }

.glass {
    display: inline-block;
    background: rgba(255,255,255, 0.2);
    position: relative;
    z-index: 1;
    backdrop-filter: blur(10px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px  rgba(46, 54, 68, 0.03);
}


</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
<script>
 const glass = document.getElementById('glasscont');
 const tl = gsap.timeline({defaults: {ease: "power2.inOut", duration: 0.3}})
    tl.from('img', { x: '-10%', opacity: 0})
      .from('.one', { x: '-10%', opacity: 0})
      .from('.two', { y: '-10%', opacity: 0})
      .from('.three', { y: '-10%', opacity: 0})
      .from('.four', { y: '-10%', opacity: 0})
      .from('.six', { y: '-10%', opacity: 0})
      
</script>

